<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ _target.title }} | Kamino</title>
    <meta charset="utf-8">
    <link href="{{ path '/stylesheet.css' }}" rel="stylesheet">
</head>
<body>

{{{ yield }}}

</body>
</html>
