/*
==========
SITE NAME
v1.0.0 THEME CODENAME
A Magrathea project, coded by Daine
-----
Magrathea:
    - https://magrathea.guide

Daine:
    - https://daine.dev
    - Discord: daine#1078

TODO: update site and theme code name
TODO: add other team members, credits, license info, etc.
==========
*/

@import "01-settings/_sizes.css";
@import "01-settings/_colors.css";
@import "01-settings/_fonts.css";
@import "01-settings/_variables.css";

@import "02-base/_reset.css";
@import "02-base/_body.css";

@import "03-elements/_headings.css";
