/*
-----
SETTINGS/SIZES
-----
*/

:root {
    /* ----- SIZES */
    --size-scale: 1.2;

    --size-40: calc(var(--size-50) / var(--size-scale));
    --size-50: 1rem;
    --size-60: calc(var(--size-50) * var(--size-scale));
    --size-70: calc(var(--size-60) * var(--size-scale));
    --size-80: calc(var(--size-70) * var(--size-scale));
    --size-90: calc(var(--size-80) * var(--size-scale));
    --size-100: calc(var(--size-90) * var(--size-scale));

    --size-h1: var(--size-100);
    --size-h2: var(--size-90);
    --size-h3: var(--size-80);
    --size-h4: var(--size-70);
    --size-h5: var(--size-60);
    --size-h6: var(--size-50);

    /* ----- GAPS */
    --gap-30: 6px;
    --gap-40: var(--size-40);
    --gap-50: var(--size-50);
    --gap-60: var(--size-60);
    --gap-70: var(--size-70);
    --gap-80: var(--size-80);
    --gap-90: var(--size-90);
    --gap-100: var(--size-100);
}
